<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Index Page</title>

    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Book form</h1>
            </div>

            <div class="row col-md-12 form-container">
                <form th:action="@{/book/add}" method="post" th:object="${book}" class="col-md-12">
                    <input type="hidden" th:field="*{id}" th:value="*{id}">

                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="title">Title:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="title" th:field="*{title}" th:value="*{title}" class="form-control col-md-12">
                        </div>
                    </div>
                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="yearWritten">Year written:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" max="2020" id="yearWritten" th:field="*{yearWritten}" th:value="*{yearWritten}" class="form-control col-md-12">
                        </div>
                    </div>
                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="numberOfPages">Number of pages:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" min="0" id="numberOfPages" th:field="*{numberOfPages}" th:value="*{numberOfPages}" class="form-control col-md-12">
                        </div>
                    </div>
                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="numberOfAvailableCopies">Number of available copies:</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" min="0" id="numberOfAvailableCopies" th:field="*{numberOfAvailableCopies}" th:value="*{numberOfAvailableCopies}" class="form-control col-md-12">
                        </div>
                    </div>
                    <div class="row col-md-12 form-row-container">
                        <div class="col-md-6">
                            <label for="publishingHouseId">Publishing house:</label>
                        </div>
                        <div class="col-md-6">
                            <select th:name="publishingHouseId" id="publishingHouseId" class="form-control col-md-12">
                                <option th:each="ph : ${publishingHouses}"
                                        th:text="${ph.getName()}"
                                        th:value="${ph.getId()}"
                                        th:selected="${book.getPublishingHouse() != null && book.getPublishingHouse().getId() == ph.getId()}"/>
                            </select>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-warning offset-3 col-md-6">Reset</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary offset-3 col-md-6">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>