<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> <!--doda treść fragmentu do obecnego taga-->
    <meta charset="UTF-8">
    <title>Index Page</title>

    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Book list</h1>
            </div>
            <div class="row col-md-12 list-header-row">
                <div class="col-md-1">Id</div>
                <div class="col-md-2">Title</div>
                <div class="col-md-1">Year</div>
                <div class="col-md-2">No Copies</div>
                <div class="col-md-6"></div> <!--Guziki-->
            </div>
            <div class="row col-md-12 list-row" th:each="book : ${books}">
                <div class="col-md-1" th:text="${book.getId()}"></div>
                <div class="col-md-2" th:text="${book.getTitle()}"></div>
                <div class="col-md-1" th:text="${book.getYearWritten()}"></div>
                <div class="col-md-2" th:text="${book.getNumberOfAvailableCopies()}"></div>
                <div class="row col-md-6">
                    <div class="col-md-4">
                        <a th:href="@{'/book/remove/'+${book.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-danger col-md-12">Remove</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/book/edit/'+${book.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-primary col-md-12">Edit</button>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/book/details/'+${book.getId()}}" class="col-md-12">
                            <button type="button" class="btn btn-info col-md-12">Details</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>
</main>

<div th:replace="fragments :: footerscripts"></div>
</body>
</html>