<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <th:block th:fragment="headerlinks">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/style.css}">
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">BookStorE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ph/list}">PH list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/ph/add}">PH add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/list}">Book list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/book/add}">Book add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/author/add}">Author add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/author/list}">Author list</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>

<th:block th:fragment="footerscripts">
    <script th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script th:src="@{/webjars/popper.js/1.14.3/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</th:block>

<footer th:fragment="footer">
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
</footer>
</body>
</html>